[Desktop Entry]
Type=Application
Name=Cachy Updater
GenericName=System Updater
Comment=Fast, native system updater for CachyOS
Exec=cachyos-updater
Icon=org.cachyos.updater
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=update;pacman;paru;cachy;packages;flatpak;aur;kernel;
StartupNotify=true
StartupWMClass=cachyos-updater
